.main-heading {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
  position: relative;
}
 
.main-heading::after {
  content: "";
  width: 90px;
  height: 4px;
  background: #FFD42A;
  display: block;
  margin: 10px auto 0;
  border-radius: 20px;
}
 
.city-card {
  transition: all 0.3s ease;
}
 
.city-card:hover {
  transform: translateY(-4px);
  border: 2px solid #FFD42A;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
 
.location-icon {
  font-size: 15px;
}
 
.show-more {
  background: #FFD42A !important;
  color: white !important;
  font-weight: 700;
}
 
.show-more:hover {
  background: #FFD42A!important;
}
 
/* Tablet */
@media (max-width: 992px) {
  .main-heading {
    font-size: 30px;
  }
}
 
/* Mobile */
@media (max-width: 768px) {
  .main-heading {
    font-size: 28px;
  }
}
 
/* Small Mobile */
@media (max-width: 480px) {
  .main-heading {
    font-size: 24px;
  }
}
 .location-icon{
  color:#192A5F;
  width:14px;
  height:14px;
  flex-shrink:0;
}